$primary: #2a93fc;
$accent: #1f6ebc;
$text-color: #404040;
$white: #ffffff;

$blue-lighter: #b2d8fe;
$blue-light: #85c1fd;
$blue: #57aafd;
$blue-dark: #2a93fc;
$blue-darker: #037cf5;

$grey-lighter: #e8e8e8;
$grey-light: #bababa;
$grey: #8c8c8c;
$grey-dark: #5e5e5e;
$grey-darker: #303030;

$red: #ff5252;
$orange: #ffc759;
$yellow: #fcdc5d;
$green: #b3de62;

%type--sans {
  font-family: 'Lato', 'Arial', system, sans-serif;
}

body {
  @extend %type--sans;
}
